@using HomeAutomata.Core.Domain.Weather
@model IEnumerable<OutsideWeather>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div>
    <table>
        <thead>
            <tr>
                <th>Temperature</th>
                <th>FeelsLike</th>
                <th>Humidity</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Temperature</td>
                        <td>@item.FeelsLike</td>
                        <td>@item.Humidity</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>